# Ignore Python environment and cache files
__pycache__/
*.pyc
.venv/
env/
.pytest_cache/


# Python/Spark temp files
pymp-*
.pytest_cache/
__pycache__/

# Airflow/dbt logs and cache
logs/
target/
dbt_packages/

.env